<section id="About-us" class="bg-dark">
    <div class="welcome-text">Hello and welcome to Moody! We're a team of developers who understand that life can be stressful and overwhelming at times. That's why we created this website, to provide you with tools and resources to help you manage your stress and improve your overall well-being.
        </div>
        <div class="our-team-text">Our team<hr></div>
    <div id="about-us-container" class="about-us-div row">
        <div class="member col-lg-3 col-sm-4" id="member1">
            <p class="membername">
                Gaurav Katkade
            </p>
            <div class="member-icon">
                <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
                <a href="http://www.linkedin.com/in/gaurav-katkade"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/gaurav.k._"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
        <div class="member col-lg-3 col-sm-4" id="member2">
            <p class="membername">
                Chetan Agrawal
            </p>
            <div class="member-icon">
                <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/chetan-agrawal-b7a226256"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://instagram.com/chetan_agrawal_11"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
        <div class="member col-lg-3 col-sm-4" id="member3">
            <p class="membername">
                Ujjwal Makhija
            </p>
            <div class="member-icon">
                <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/ujjwal-makhija-945497247"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/ujjwal_0404"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
        <div class="member col-lg-3 col-sm-4" id="member4">
            <p class="membername">
             Jeet Mardia   
            </p>
            <div class="member-icon">
                <a href="https://github.com/"><i class="fa-brands fa-square-github"></i></a>
                <a href="https://www.linkedin.com/in/jeet-maradia-515b32225"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://instagram.com/jeet_prajapati3110"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
        </div>
    </div>
</section>