<nav class="navbar  navbar-expand-lg navbar-dark my-navbar">
    <div class="nav-brand ms-2 logo">
       <a class="logo-link" href="/">Moody</a> 
    </div>
    <div class="ms-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button><div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            
            
            <li class="nav-item px-2 hero-links"><a href="/"class="nav-link"><p class="my-nav-link">Home</p> </a></li>
            <li class="nav-item px-2 hero-links"><a href="/article"class="nav-link"><p class="my-nav-link"> Articles</p></a></li>
            <li class="nav-item px-2 hero-links"><a href="/moodtest"class="nav-link"><p class="my-nav-link">Mood test</p> </a></li>
            <li class="nav-item px-2 hero-links"><a href="/signup"class="nav-link"><p class="my-nav-link">Become Member</p> </a></li>
            <li class="nav-item px-2 hero-links"><a href="/#About-us"class="nav-link"><p class="my-nav-link"> About Us</p></a></li>
            
        </ul>
        </div>
    </div>
</nav>